@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-serif);
  --font-mono: var(--font-noto-serif);
}

html,
body {
  height: 100%;
}

body {
  background-color: #140c0a;
  color: var(--foreground);
  font-family: var(--font-noto-serif), "Noto Serif", serif;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bd1 {
  border: 1px solid red !important;
}
.bd2 {
  border: 1px solid blue !important;
}
.font-hangyaku {
  font-family: var(--font-hangyaku), "Hangyaku", serif;
}
.font-inter {
  font-family: var(--font-inter), "Inter", sans-serif;
}
